.hide {
   visibility: hidden;
}

body {
    background-color:lightgoldenrodyellow;
}

nav {
    font-family: 'Lobster', cursive;
    font-size: 24px !important;
    background-color: wheat !important;
}

.background {
    opacity: 50%;
}


#inputButton {
    margin-top: -15vh;
}

button.is-danger {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border-radius: 12px;
    padding: 9px;
    border: 3px black solid !important;
    color: white !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 42px !important;
    /* margin-left: 12vw !important; */
}

button.is-danger:hover {
    background-color: red !important;
}

button.is-danger:active {
    background-color: orange !important;
    box-shadow: 10px 10px 10px orangered !important;
    font-size: 28px !important;
}


.breadcrumb {
    margin-bottom: 3vh;
}

#About {
    margin-top: 3vh;
}

.instructions {
    margin-right: 11vw;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 22px !important;
    color: firebrick;
}
.instructions2 {
    margin-right: 11vw;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 110px !important;
    color: firebrick;
    -webkit-text-stroke: 1px black;
    letter-spacing: 5px;
}

.bodySection {
    margin-top: -180px;
}

.imageSize {
    max-width: 80%; 
    max-height: 60%;
}

.youtube {
    margin-top: -80px;
}

/* 
  @media (min-width: 1150px) {
    #inputButton {
        margin-left: 12vw;
    } 
 } */
 @media (max-width: 500px) {
    .navbar-dropdown {
       display: contents; 
    }
 }