
nav {
    font-family: 'Lobster', cursive;
    font-size: 24px !important;
}

#carousel {
    margin-top: 200px;
}

.columns.is-mobile {
    margin-top: 200px;
}

#inputButton {
    background-color: red;
    font-family: 'Lobster', cursive;
    display: flex;
    align-items: center;
    margin-top: 10vw;
    margin-left: 30vw;
    font-size: 20px;
    border-radius: 12px;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px !important;
    margin: 30px !important;
}