
nav {
    font-family: 'Lobster', cursive;
    font-size: 24px !important;
}

#carousel {
    margin-top: 200px;
}

.columns.is-mobile {
    margin-top: 200px;
}

#inputButton {
    /* background-color: red; */
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border-radius: 12px;
    padding: 9px;
    border: 3px black solid !important;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px !important;
    margin: 30px !important;
}
button.is-danger:hover {
    background-color: red !important;
}
button.is-danger:active {
    background-color: orange !important;
    box-shadow: 10px 10px 10px orangered !important;
    font-size: 28px !important;
}

 @media (min-width: 1150px) {
    #inputButton {
        margin-left: 12vw;
    }
 }